
#edit-submit-uc-products-search {
  background-image: url(../images/go_button.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  background-color: transparent;
  text-indent: -999px;
  overflow: hidden;
  width: 35px;
  height: 25px;
}
