
#edit-submit-uc-products-search {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 0;
  background-color: transparent;
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  height: 28px;
  margin-top: -0.3em;
}
