@charset "utf-8";

#nav ul.menu {
	z-index: 99;
	list-style-type: none;
}
#nav ul.menu  li {
	float: left;
}
#nav ul.menu a {
	display: block;
	color: #323A5E;
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
	padding: .7em 2.14em;
	border-right: 2px solid #fff;
}
#nav ul.menu li.last a {
	border-right: none;
}
#nav ul.menu a:hover, #nav ul.menu a:focus {
	background-color: #FFFFFF;
}
#nav ul.menu li ul {
	position: absolute;
	width: 150px;
	left: -999em;
}
#nav ul.menu li ul li {
	padding: 0;
}
#nav ul.menu li ul a {
	background-color: #F0F3F5;
	width: 140px;
	text-decoration: none;
	padding: .5em .5em .8em 2.17em;
	text-align: left;
	color: #323A5E;
	border: none;
}
#nav ul.menu li ul a:hover, #nav ul.menu li ul a:focus {
	background-color: #E3E6E8;
}
#nav ul.menu li:hover ul, #nav ul.menu li.sfhover ul {
	left: auto;											
}
